.dogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-radius: 1em;
  background: rgb(202, 202, 202);
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
